.app.light {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #060eda;
    --primary-color: #2b2c88;
    --secondary-color: #04a;
    --inverted-primary-color: green;
    --inverted-secondary-color: #25e10b;
}